* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    height: 10%;
    padding: 10px;
    background-color: antiquewhite;
}

p {
    margin: 20px;
    color: brown;
}